@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to blog</h1>

    <p>Conn str: @Model.StorageAccountConnectionString</p>
    <p>Table nm: @Model.BlogTableName</p>
    <a asp-page="CreateBlogPost">Create blog post</a>
    <a asp-page="GetBlogPosts">View blog posts</a>
</div>